<div style="text-align: center; padding: 100px 100px;" >
    <h2>Virtual Wallet</h2>
    <%= form_tag '/login' do %>
        Username: <%= text_field_tag :Username %><br>
        Password: <%= password_field_tag :Password %><br>
        <%= submit_tag "LOG IN" %>
    <% end %>    
</div>