<h1> Forgot your password? </h1>

<%=form_with url: root_path, data: { turbo: false } do |form| %>
  <div class= "mb-3">
  <%= form.label :email%>
  <%= form.text_field :email, class: "form-control", placeholder: "user_name@wallet.com" %>
</div> 

<div class= "mb-3">
  <%= form.submit "Reset Password", class: "btn btn-primary" %>
</div> 

<% end %>