<h1>KYC Status</h1>
<p>Showing KYC status for user <%= Current.user.email %>:</p>
<% if @kyc.status == "approved" %>
  <p>
    Your KYC has been approved. You can now access our services.
  </p>
<% else %>
  <p>
    Your KYC is pending approval. Please wait until it is approved to access our services.
  </p>
<% end %>