<h1> Cash details </h1>
<div class="col-md-4 mb-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @balance.currency %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Balance: <%=@balance.value %></h6>
    </div>
  </div>
</div>
