<!DOCTYPE html>
<html>
<body>
<section>
<h2>Contact Us</h2>
<p>Have a question or feedback for us? We'd love to hear from you!</p>
<ul>
    <li>Phone: 1-800-6667777</li>
    <li>Email: info@virtualwallet.com</li>
    <li>Address: 123 Main Street, Anytown, USA</li>
</ul>

<h2>Career opportunities</h2>
<p>Please call or email us if you want to join our team </p>
<ul>
    <li>Phone: 1-800-5558888</li>
    <li>Email: career@virtualwallet.com</li>
</ul>
</section>
</body>
</html>